.nav_block {
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 170px;
}

.nav_block button {
  visibility: visible;
}

.nav_block auth_button {
  visibility: visible;
}
